# 1. Ativa o ambiente Nix (compiladores Rust, libs, ferramentas)
use flake

# 2. Carrega segredos dinamicamente via SOPS (do host)
# Ajuste o caminho '../secrets.yaml' conforme a localização real do seu arquivo criptografado
if [ -f ../secrets.yaml ]; then
    eval "$(sops -d --output-type dotenv ../secrets.yaml)"
    watch_file ../secrets.yaml
elif [ -f secrets.yaml ]; then
    eval "$(sops -d --output-type dotenv secrets.yaml)"
    watch_file secrets.yaml
fi
